* {margin: 0;
padding: 0; 
font-family:sans-serif,helvetica;
box-sizing: border-box;}
body { background:no-repeat fixed url(../img/fondo.jpeg); 
}
#contenedor { width: 750px; 
margin: auto;
padding: 0px 10px 0px 10px;
background-color: #5B0F0F;}

#Titulo {background-image: url(../img/tuu.jpeg);
	padding: 390px 30px 7px 30px;}
#titulo h1 {color: white;
font-size:40px ;
text-align: center;
padding-top: 30px;}

#menu a{
	border:solid 1px black;
	text-decoration: none;
	color: #A6FFE9;
	font-family:sans-serif;
	font-size: 20px;
	padding: 12px;
	background-color: #020461;
	align-items: center;
	margin: 16px;
	margin-top: -20px;
	display: inline-block;
}
#menu a:hover{
	background-color:#240F5B;


}
#menu {

	text-align: center;
}
#imagen1 img {width: 85%;
    padding:0px 0px 10px 150px;
    float: right;}
#tabla { border: 1px #CC6600 solid;
      padding: 0.2em;
      padding: 7px;
  background-color: #9CC9D5;
      color: black;
      margin-right: 480px;
      margin-top: -375px;
      display: inline-block;
      text-align: left;
      line-height: 25px;
  }
#tabla2 {border: 1px #CC6600 solid;
      padding: 0.2em;
      padding: 7px;
  background-color: #9CC9D5;
      color: black;
      margin-right: 480px;
      margin-top: 25px;
      display: inline-block;
      text-align: left;
      line-height: 25px;}
#parrafo h2 {display: inline-block;
color: white; 
margin-top: -580px;
margin-right: 190px;
float: right;}
#parrafo p {display: inline-block;
color: white; 
margin-top: -540px;
margin-right: 20px;
margin-left: 270px;
float: right;
line-height: 25px;
text-align: justify;}
 #imagen2 img { margin-top: 15px; 
 	width: 62%;
 padding:0px 100px 10px 0px;
display: inline-block;}
 #imagen3 img { margin-top: -158px;
 display: inline-block;
 width: 50%;
 float: right; 
 }
 #Frase {
      margin-top: 1em;
      border: 3px #AD7600 dashed; 
      background-color: #9786B6;
      color: black;
      padding: 10px;
      text-align: center;
      line-height: 20px;
      font: oblique bold 90% cursive;
    }
#frase a{
      color: #cc6600;}
#footer {height: 10%;
width: 100%;
    font-size: 14px;
    clear: both;
    background: #000738 ;
    margin-top: 50px;
    margin-right: -20px;
}
#copy{
    width: 80%;
    vertical-align: middle;
    padding:15px 70px 10px 5px ;
}
#redes{
    text-align: right;
    display: inline-block;
    margin-top: -45px;
    margin-right: 15px;

}
#redes a img{width: 5%;
    margin:  0 2px}
#copy p{
    color: white;
    text-align: left;
    display: inline-block;
    text-align: center;
    margin-right: 40px;
}